<html ng-app="simpleModule">
    <head>
      <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"></style>
      <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>

      <script src="dist/bundle.js"></script>
      <div ng-controller="simpleController">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Str1:</span>
          <input type="text" ng-model="str1" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Str2:</span>
          <input type="text" ng-model="str2" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"> {{ sumData(str1, str1) }}</span>
        </div>
      </div>
    </body>
</html>
