# maven #
**/target
**/class

*.classpath
*.project


# nodejs #
**/node_modules
**/node_modules/*

# eclipse #
.metadata/
.recommenders/
RemoteSystemsTempFiles/
*.settings
*/bin/
Servers/

# Package Files #
*.jar
*.war

# python #
**/__pycache__
javaCode/fenby/.classpath
javaCode/MyBatisHello/.project
javaCode/rabbitmqconsumer/.classpath
javaCode/rabbitmqproducer/.classpath
